{% load static %}
{% include 'Layout/Partials/User/header.html' %}

<div class="body-wrapper-inner">
  <div class="container-fluid">
<br><br><br>
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">

        <div class="card shadow">
          <div class="card-header bg-white">
            <h5 class="mb-0 fw-semibold text-center">Income Details</h5>
         

          <div class="card-body">

            <form action="{% url 'user:incomedetails' %}" method="POST">
              {% csrf_token %}

              <div class="mb-3">
                <label class="form-label">Income Head</label>
                <select name="incomehead" class="form-select">
                  <option value="">Select Incomehead</option>
                  {% for i in incomehead %}
                  <option value="{{i.id}}">{{i.namefield}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="mb-3">
                <label class="form-label">Date</label>
                <input type="date" name="date" class="form-control">
              </div>

              <div class="mb-3">
                <label class="form-label">Amount</label>
                <input type="number" name="amount" class="form-control">
              </div>

              <button type="submit" class="btn btn-primary w-100">
                Save Income
              </button>

            </form>

          </div>
        </div>
 </div>
      </div>
    </div>

  </div>
</div>

{% include 'Layout/Partials/User/footer.html' %}