{% load static %}
{% include 'Layout/Partials/User/header.html' %}

<style>
  .income-table th {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
  }
  .income-table td {
    font-size: 15px;
  }
  .income-table tbody tr:hover {
    opacity: 0.85;
    cursor: pointer;
  }
  .card-custom {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border: none;
  }
  .amount-style {
    font-weight: 700;
  }
</style>
<div class="page-wrapper">
  <div class="content">
<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-custom card-custom">
          <div class="card-body">
<div>
           <h4 class="mb-4">Expense Details</h4></div>
<div>
    


            <div class="table-responsive">
                <div>
              <table class="table table-bordered table-hover align-middle text-center income-table">
                <thead class="table-dark income-table">
                  <tr>
                    <br><br><br><br>
                    
                    <th>Expense Head</th>
                    <th style="width: 250px;">Description</th>
                    <th>Date</th>
                    <th>Create Date</th>
                    <th>Amount (₹)</th>
                    <th>Actions</th>
                  </tr>
                </thead>

                <tbody>
                  {% for i in list %}
                  <tr>
                  
                    <td>{{ i.expensehead.name }}</td>
                    <td>{{ i.description }}</td>
                    <td>{{ i.date }}</td>
                    <td>{{ i.create_date }}</td>
                   
                    <td class="amount-style"><strong>₹ {{ i.amount }}</strong></td>
                    <td><a href="{% url 'app_user:deleteexpense' i.id %}"><button type="submit" class="btn btn-primary">Delete</button></a>
                    <a href="{% url 'app_user:editexpense' i.id %}"><button type="submit" class="btn btn-primary">Edit</button></a></td>

                   
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'Layout/Partials/User/footer.html' %}

